<h1><%= @article.title.titleize %></h1>

<dl class="dl-horizontal">
  <dt>Posted At</dt>
  <dd><%= @article.created_at.strftime("%b %d, %Y %I:%M %p")  %></dd>
  <dt>Posted By</dt>
  <dd><%= @article.user.handle %></dd>
  <dt>Tags</dt>
  <dd>
    <% @article.tags.each do |tag| %>
      <span class="label label-default"><%= tag.name %></span>
    <% end %>  
  </dd>
  <dt>Content</dt>
  <dd><%= @article.content.html_safe  %></dd>
</dl>
<br />
<br />
<%= link_to 'Article List', articles_path, class: 'btn btn-primary' %>


